
<img src="/../../assets/images/check.png" alt="Check icon" class="center">
<h2>Thank you!</h2>
<p class="comment-of-header">We have added your card details</p>

<form action="">
    <input type="submit" class="button-large" value="Continue" />
</form>